<h1>{{ pelicula.title }}</h1>
<div style="display: inline-block;">
    <img [src]="imagen" alt="{{ pelicula.title }}">
</div>

<div style="display: inline-block; width: 30px;"></div>
<div style="display: inline-block; position: absolute; ">
    <h5>Sinopsis</h5>
    <hr style="margin-right: 100px;">
    <p style="text-align: justify; padding-right: 100px;">{{ pelicula.overview }}</p>

    <hr style="margin-right: 100px;">
    <p> <strong>Popularidad:</strong> {{ pelicula.popularity }}</p>
    <p><strong> Voto promedio:</strong> {{ pelicula.vote_average }}/10 </p>
    <button class="btn btn-outline-success" (click)="goBack()">Regresar</button>
</div>